/* Styles applied when the browser has no network connection. 
   There is a toast message that will also communicate when we are online/offline 
   This is mostly turning off links that go out to the web . 
*/

/* --- Network status toast --- */

#network-status-toast {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: #8ce077;
  color: #0a4d4d;
}

#network-status-toast.network-toast-show {
  opacity: 1;
}

#network-status-toast.network-toast-hide {
  opacity: 0;
}

/* 
  Target elements using: [data-network-status="offline"] .your-selector { ... } 
*/

[data-network-status="offline"] #logo-branding {
  display: none;
}

/* hide any links in the modal dialog when offline since they go to internet */
[data-network-status="offline"] .modal-dialog-body a {
  display: none;
}

[data-network-status="offline"] #nav-support-mesh2motion,
[data-network-status="offline"] #nav-github,
[data-network-status="offline"] #learn-link,
[data-network-status="offline"] #m2m-model-github-link {
  display: none;
}

[data-network-status="offline"] a#logo-branding {
  pointer-events: none;
  text-decoration: none;
}

[data-network-status="offline"] .download-success-section {
  display: none !important;
}

[data-network-status="offline"] .download-success-desktop {
  display: block !important;
}
